# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qaslsjyxjwvdoiczmhgq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhc2xzanl4and2ZG9pY3ptaGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMDg2MTEsImV4cCI6MjA5OTU4NDYxMX0.VZV0FfzdYRzXBiDuvk9GqKktsU05T-tPLR71ipb4_AM
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
